@use "@/assets/scss/bundle" as *;

input {
  padding: 0.5em 0.75em;
  background: #ccc;
  border-radius: 0.25em;

  width: 20em;
}

button, .button {
  padding: 0.5em 0.75em;
  background: rgb(42, 131, 204);
  border-radius: 0.25em;

  color: white;

  .spinner {
    opacity: 0;
    transition: 200ms ease opacity;
    pointer-events: none;
  }

  &--pending {
    .content { opacity: 0 }
    .spinner { opacity: 1 }
  }
}

.spinner {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	margin: auto;

	&::before {
		content: "";
		padding: 0.5em;
		border: 3px solid rgba(black, 0.5);
		border-right-color: rgba(black, 1);
		border-radius: 50%;

		animation: 1s linear infinite spin;

		@keyframes spin {
			from {
				transform: rotate(0deg);
			}

			to {
				transform: rotate(360deg);
			}
		}
	}
}
