@use "bundle.scss" as *;
@use "./table.scss";

* {
	box-sizing: border-box;
}

html {
	@include MobileLow {
		font-size: 4vw;
	}
}

body {
	font: 1rem/1 Arial, sans-serif;
	margin: unset;
	color: $color-dark;
	background: white;

	overflow-y: scroll;
}

strong,
b {
	font-weight: 600;
}

#root {
	position: relative;
}

#root::before {
	content: "";
	position: absolute;
	inset: 0;
	background: white;
	z-index: -1;
}

main {
	@include WidthLimit;

	&>section {
		@include WidthLimit;
	}
}

article {
	padding: 1.5em 0;

	@include WidthLimit;

	&>* {
		margin: 0.75em 0;
		line-height: 1.5;
	}

	&>div {
		margin: 2em 0;
		line-height: 1.35;
	}

	&>img,
	&>p>img {
		width: 50%;
		padding: 0.5em;

		border: 1px solid rgba(black, 0.1);
		border-radius: 1em;
		box-shadow: 0 0 12px -4px rgba(black, 0.25);
	}

	&>svg.mermaid {
		max-width: 100%;
		height: 100dvh;
	}

	&>*:first-child {
		margin-top: unset;
	}

	&>*:last-child {
		margin-bottom: unset;
	}

	&>h2,
	&>h3,
	&>h4,
	&>h5 {
		&>a[aria-hidden] {
			--icon-size: 1rem;

			position: absolute;
			left: -0.5rem;

			display: flex;
			margin: 0.5em 0;
			padding: 0.5rem;
			margin-right: 0.5rem;

			opacity: 0;
		}

		a[aria-hidden]:hover,
		&:hover>a[aria-hidden] {
			opacity: 1;
		}
	}

	&>hgroup:has(h1) {
		margin-bottom: 2rem;
	}

	&>blockquote {
		padding: 0.5rem 1rem;
		border: 1px solid rgba(black, 0.1);
		border-left: 0.375em solid rgba(black, 0.25);
		border-radius: 0.25em;
	}

	& p+blockquote {
		margin-top: 0.5em;
	}


	@include MobileLow {
		border: unset;
	}
}

ul,
ol {
	padding-inline-start: 1.25em;
}

/* Text */

h1 {
	font-size: $font-size-h1;
	font-weight: bold;
}

h2 {
	font-size: $font-size-h2;
	font-weight: 600;
}

h3 {
	font-size: $font-size-h3;
	font-weight: 600;
}

h4 {
	font-size: $font-size-h4;
	font-weight: 400;
}

h5 {
	font-size: $font-size-h5;
	font-weight: 400;
}

p {
	line-height: 1.5;
}

@media screen and (max-width: #{$width-tablet}) {

	h1,
	h2 {
		font-size: 1.5rem;
		letter-spacing: unset;
	}

	h3 {
		font-size: 1rem;
	}
}

/* Anchor */

a {
	color: inherit;
	font-weight: inherit;

	&:hover {
		text-decoration: none;
	}

	&:active {
		opacity: 0.8;
	}

	&.ghost {
		position: absolute;
		inset: 0;
	}
}

hgroup {
	display: grid;
	gap: 0.5em;

	max-width: 40em;
}

/* UX */

input,
button,
textarea {
	all: unset;
	position: relative;
}

input {
	cursor: revert;
}

input::placeholder {
	color: inherit;
}

button,
textarea {
	&:focus-visible {
		outline: revert;
	}
}

button {
	cursor: pointer;
	transition: 100ms ease opacity;

	&:disabled {
		cursor: not-allowed;
	}

	&:not(:disabled):active {
		opacity: 0.75;
	}

	&.ghost {
		position: absolute;
		inset: 0;
	}
}

hr {
	width: 100%;
	height: 1px;

	border: unset;
	background: rgba(black, 0.15);
}

pre {
	display: grid;

	background: #f6f8fa;
	border: unset;
	border-radius: 0.5em;
	white-space: pre-wrap;

	code {
		padding: 1em;
	}
}

kbd {
	display: inline-block;

	padding: 2px 4px;
	background: #eee;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;

	color: #333;
	font-size: 0.85em;
	font-weight: 700;
	white-space: nowrap;
}

:not(pre)>code {
	padding: 0.125em 0.375em;
	font-size: 85%;
	white-space: break-spaces;
	background: rgba(129, 139, 152, 0.12);
	border-radius: 0.375em;
}

svg.icon,
div.icon>svg {
	$size: var(--icon-size, 1em);
	$color: var(--icon-color, currentColor);

	$width: var(--icon-width, $size);
	$height: var(--icon-height, $size);

	display: inline-block;
	width: $width;
	height: $height;
	vertical-align: top;
	object-fit: contain;

	color: $color;

	use {
		pointer-events: none;
	}
}

div.icon {
	display: contents;
}

ul li {
	padding-left: 0.25em;

	&::marker {
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.675em' height='0.675em' id='chevron-right' viewBox='0 0 7 12'%3E%3Cpath d='M.3 11.6a1.2 1.2 0 0 1-.3-.8 1.2 1.2 0 0 1 .3-.9L4.2 6 .3 2A1.2 1.2 0 0 1 .3.5 1.2 1.2 0 0 1 2 .4l4.7 4.8A1.2 1.2 0 0 1 7 6a1.2 1.2 0 0 1-.3.8L2 11.6a1.2 1.2 0 0 1-.8.4 1.1 1.1 0 0 1-.9-.4Z' fill='currentColor' /%3E%3C/svg%3E");
		margin-right: 0.25em;
		// 	// color: hotpink;
	}
}

.admonition {
	padding: 0.5rem 1rem;
	border: 1px solid rgba(black, 0.1);
	border-left: 0.375em solid rgba(black, 0.25);
	border-radius: 0.25em;

	.admonition-title {
		font-weight: bold;
	}
}
